<div class="wrapper d-flex align-items-stretch" style="height: 100%">
  <nav id="sidebar">
    <div
      class="img bg-wrap text-center py-4"
      style="background-image: url(assets/images/bg.jpg)"
    >
      <div class="user-logo">
        <div
          class="img"
          style="background-image: url(assets/images/me.jpg)"
        ></div>
        <h3>William Karavites</h3>
      </div>
    </div>
    <ul class="list-unstyled components mb-5">
      <li class="active">
        <a routerLink="/"><i class="fas fa-house-user"></i> Home</a>
      </li>
      <li>
        <a routerLink="/projects"><i class="fas fa-briefcase"></i> Projects</a>
      </li>
      <li>
        <a routerLink="/about"><i class="far fa-smile-beam"></i> About Me</a>
      </li>
      <li>
        <a routerLink="/attributions"
          ><i class="fas fa-hands-helping"></i> Attributions</a
        >
      </li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</div>
